<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5_CSS3</title>
    <!--ingresar el style-->
</head>
<body>
<header>
<nav>  
    <ul>
        <li class="active"><a href="#">Inicio</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Contactanos</a></li>
    </ul>
</nav>
</header>
    <footer class="pageFooter">
        <p>Copyright $copy; 2023 - www.warochec.com</p>
    </footer>
</body>
</html>